{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ genre['genre_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="genre_name">Genre name</label>
  <input name="genre_name" id="genre_name" value="{{ request.form['genre_name'] or genre['genre_name'] }}" required>
  <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('genres.delete', id=genre['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}