<!doctype html>
<title>{% block title %}{% endblock %} - Videostore</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('store.index') }}">Videostore</a></h1>
  <form action="{{ url_for('store.search') }}" method="get">
    <input type="text" placeholder="Search.." name="q">
    <button type="submit">Submit</button>
  </form>
  <ul>
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('store.profile') }}">{% if current_user.is_admin %}[ADMIN]{% endif %} {{
        current_user.get_id() }}</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<footer>
  hello world | <a href="https://github.com/kannercollege/videostore">Videostore on GitHub</a>
</footer>