{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}All Products{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for product in products %}
<article class="product">
  <header>
    <div>
      <h1>
        <a class="{{ 'out_of_stock' if product['stock'] == 0 }}"
          href="{{ url_for('store.view', id=product['title_id']) }}">{{
          product['title'] }}</a>
      </h1>
    </div>
  </header>
  <p class="description">{{ product['story'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}