{% extends 'base.html' %}

{% set items = [
('Shipping address',
[('Country', 'country', 'text'),
('City', 'city', 'text'),
('Street', 'street', 'text'),
('House number', 'house_number', 'text'),
('ZIP code', 'zip_code', 'text')]),
('Personal info',
[('E-mail', 'email', 'email'),
('Full name', 'full_name', 'text'),
('Phone number', 'phone_number', 'tel')])
] %}

{% block header %}
<h1>{% block title %}{{ product.product_name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for legend_name, fields in items %}
    <fieldset>
        <legend>{{ legend_name }}</legend>

        {% for label_name, for_name, type in fields %}

        <label for="{{ for_name }}">{{ label_name }}</label>
        <input type="{{ type }}" name="{{ for_name }}" id="{{ for_name }}" value="{{ request.form[for_name] }}"
            required>
        <br>

        {% endfor %}
    </fieldset>
    {% endfor %}

    <input type="hidden" name="product_id" id="product_id" value="{{ product.id }}">

    <input type="submit" value="Buy">
</form>
{% endblock %}