{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Product{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="product_name">Product name</label>
  <input name="product_name" id="product_name" value="{{ request.form['product_name'] }}" required>

  <label for="product_description">Product description</label>
  <textarea name="product_description" id="product_description">{{ request.form['product_description'] }}</textarea>

  <label for="price">Price</label>
  <input name="price" id="price" type="number" min="0" max="1000000" step="0.01" value="{{ request.form['price'] }}"
    required>

  <label for="genres">Genres</label>
  <select name="genres" id="genres" multiple>
    {% for genre in genres %}
    <option value="{{ genre['id'] }}">{{ genre['genre_name'] }}</option>
    {% endfor %}
  </select>
  <p>Hold down the Ctrl / Command button to select multiple options.</p>

  <input type="submit" value="Save">
</form>
{% endblock %}