{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
{% if current_user.is_admin %}
<a class="action" href="{{ url_for('genres.index') }}">Genres</a>
<a class="action" href="{{ url_for('store.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for product in products %}
<article class="product">
  <header>
    <div>
      <h1>
        <a href="{{ url_for('store.view', id=product.id) }}">{{ product['product_name'] }}</a>
        <span class="price">
          {{ config['CURRENCY_SYMBOL'] }}{{ "%.2f"|format(product['price']) }}
        </span>
      </h1>
    </div>
    {% if current_user.is_admin %}
    <a class="action" href="{{ url_for('store.update', id=product['id']) }}">Edit</a>
    {% endif %}
  </header>
  <p class="description">{{ product['product_description'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}