{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
<h1>Recently Added</h1>
{% endblock %}

{% block content %}
{% for product in products %}
<article class="product">
  <header>
    <div>
      <h1>
        <a class="{{ 'out_of_stock' if product['stock'] == 0 }}"
          href="{{ url_for('store.view', id=product['title_id']) }}">{{
          product['title'] }}</a>
        {% if product['price'] %}
        <span class="price">{{ config['CURRENCY_SYMBOL'] }}{{ "%.2f"|format(product['price']) }}</span>
        {% endif %}
      </h1>
    </div>
  </header>
  <p class="description">{{ product['story'] }}</p>
</article>
<hr>
{% endfor %}
<a class="viewall" href="{{ url_for('store.all') }}">View All...</a>
{% endblock %}