{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ current_user.get_id() }}{% endblock %}</h1>
{% endblock %}

{% block content %}

{% for order in orders %}
<article class="product">
    <header>
        <div>
            <h1><a href="{{ url_for('store.view', id=order['product_id']) }}">{{ order['product_name'] }}</a></h1>
        </div>
    </header>
    <p class="description">Order created at {{ order['created'] }}</p>
</article>
<hr>
{% endfor %}

<form action="{{ url_for('auth.delete') }}" method="post">
    <input class="danger" type="submit" value="Delete account" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}