{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ product['product_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="product_name">Product name</label>
  <input name="product_name" id="product_name" value="{{ request.form['product_name'] or product['product_name'] }}"
    required>

  <label for="product_description">Product description</label>
  <textarea name="product_description"
    id="product_description">{{ request.form['product_description'] or product['product_description'] }}</textarea>

  <label for="price">Price</label>
  <input name="price" id="price" type="number" min="0" max="1000000" step="0.01"
    value="{{ request.form['price'] or product['price'] }}" required>

  <label for="imdb_id">IMDB id</label>
  <input name="imdb_id" id="imdb_id" value="{{ request.form['imdb_id']  or product['product_imdb_id']}}" required>

  <label for="product_image_filename">Image filename</label>
  <input name="product_image_filename" id="product_image_filename"
    value="{{ request.form['product_image_filename']  or product['product_image_filename']}}">

  <label for="is_stock_left">In stock?</label>
  <input type="checkbox" name="is_stock_left" id="is_stock_left" {{ 'checked' if 'is_stock_left' in request.form or
    product['product_is_stock_left'] }}>

  <label for="genres">Genres</label>
  <select name="genres" id="genres" multiple>
    {% for genre in genres %}
    <option value="{{ genre['id'] }}" {% if genre['id'] in current_genres %}selected{% endif %}>{{ genre['genre_name']
      }}</option>
    {% endfor %}
  </select>
  <p>Hold down the Ctrl / Command button to select multiple options.</p>

  <input type="submit" value="Save">
</form>
<hr>

<form action="{{ url_for('store.delete', id=product['id']) }}" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}