{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ product.product_name }}{% endblock %}</h1>
<a class="action" href="https://www.imdb.com/title/{{ product['product_imdb_id'] }}/" target="_blank">
    View on IMDb
</a>
<a class="action" href="{{ url_for('store.buy', id=product.id) }}">
    Buy for {{ config['CURRENCY_SYMBOL'] }}{{ "%.2f"|format(product['price']) }}
</a>
{% if current_user.is_admin %}
<a class="action" href="{{ url_for('store.update', id=product['id']) }}">Edit</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="productgenres">
    {% for genre in genres %}<a class="genreblock"
        href="{{ url_for('genres.view', id=genre['genre_id']) }}">{{genre['genre_name'] }}</a>{% endfor %}
</div>
<p class="description">{{ product['product_description'] }}</p>
{% endblock %}