{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ product['title'] }}{% endblock %}</h1>
<a class="action" href="https://www.imdb.com/title/{{ product['imdb'] }}/" target="_blank">
    View on IMDb
</a>
<a class="action">
    {% if product['price'] %}
    {{ config['CURRENCY_SYMBOL'] }}{{ "%.2f"|format(product['price']) }}
    {% endif %}
</a>
{% endblock %}

{% block content %}
<div class="productgenres">
    {% for genre in genres %}
    <span class="genreblock">{{ genre }}</span>
    {% endfor %}
</div>
<div class="product-information">
    <p class="description">{{ product['story'] }}</p>
    {% if image_b64 %}
    <img class="productimage" src="data:image/png;base64, {{ image_b64 }}" alt="{{ product['product_name'] }}">
    {% endif %}
</div>
{% endblock %}