.topnav {
    background-color: forestgreen;
    overflow: hidden;
}

.topnav * {
    font-size: 100%;
}

.topnav a {
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.topnav a.active {
    background-color: green;
    color: white;
}

.topnav a:hover {
    background-color: green;
    color: whitesmoke;
}

.topnav .search-container {
    float: right;
}

.topnav .search-container form * {
    font-size: 60%;
}

.topnav input[type=text] {
    border: none;
    padding: 0.5em;
    margin: 0.5em 0em;
}

.topnav .search-container button {
    float: right;
    padding: 0.5em;
    margin: 0.5em 0em;
    margin-right: 0.5em;
    background: #ddd;
    border: none;
    cursor: pointer;
}