/* https://www.w3schools.com/howto/howto_css_next_prev.asp */

a.previous {
    text-decoration: none;
    display: inline-block;
    margin: 8px 0px;
    padding: 8px 16px;
}

a.previous:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}