<!DOCTYPE html>
<html lang="en">

{% set navigation_bar = [
("index", "index", "Home"),
("products", "products", "Products")
] -%}

{% set active_page = active_page|default("index") -%}

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
    <title>{% block title %}{% endblock %} - Videostore</title>
    {% endblock %}
</head>

<body>
    <div class="topnav">
        {% for id, href, name in navigation_bar %}
        <a {% if id==active_page %} class="active" {% endif %} href="{{ url_for(href) }}">{{ name }}</a>
        {% endfor %}
        <div class="search-container">
            <form action="{{ url_for('products') }}">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>