{% extends "base.html" %}
{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='highlighted_products.css') }}">
{% endblock %}

{% block content %}
<h1>
    Homepage
</h1>

{% if highlighted_products|length > 0 %}
<div class="highlighted_product_display_items">
    <h2>
        Highlighted items
    </h2>

    {% for product in highlighted_products %}
    <a href="{{ url_for('view_product', product_id=product.id) }}">
        <img class="highlighted_product_display_image" src="{{ url_for('static', filename=product.image_filename) }}"
            alt="Picture of {{ product.name }}" title="{{ product.name }}" width=400>
    </a>
    <div class="highlighted_product_display_name">
        {{ product.name }}
    </div>
    <br />
    {% endfor %}
</div>
{% endif %}
{% endblock %}