{% extends "base.html" %}
{% set active_page = "products" %}

{% block title %}Products{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
{% endblock %}

{% block content %}
<h1>
    Available products {% if is_search %} for "{{ search_term }}" {% endif %}
</h1>

{% for product in products %}
<div>
    <a class="product_display_item" href="{{ url_for('view_product', product_id=product.id) }}">
        <span class=product_display_name>
            {{ product.name }}
        </span>
        <span class=product_display_price>
            {{ "€{:.2f}".format(product.price|float) }}
        </span>
    </a>
</div>
{% endfor %}
{% endblock %}